{% extends "base.html" %}

{% block content %}
<style>
table { width: 100%; }
td { vertical-align: top; }
.body { white-space: pre-wrap; }
.message strong { cursor: default; }
</style>
  <h1>Upstreamed commits</h1>
  <table>
  <tr><th>Author <th>Message <th>When
  {% for c in commits %}
    <tr>
      <td>{{ c.author }}
      <td class=message><strong>{{ c.subject }}</strong>
        <pre class=body style=display:none>{{ c.body }}</pre>
      <td><time datetime='{{ c.date }}' title='{{ c.date }}'>{{ c.date_relative }}</time>
  {% endfor %}
  </table>

  <script>
    messages = document.querySelectorAll('.message');
    for (var i=0; i<messages.length; i++)
    {
      m = messages[i];
      m.addEventListener('click', function()
      {
        body = this.querySelector('.body');
        if (body.style.display == 'none')
            body.style.display = 'block';
        else
            body.style.display = 'none';

      });
    }
  </script>
{% endblock %}
