{% extends "base.html" %}

{% block content %}
<main>
  <h1>Opera Software upstreamed commits</h1>
  <p>Upstreamed commits in
  {% for project in projects %}
    <a href="#{{ project.name|lower|e }}">{{ project.name|e }}</a>: {{ project.log|length }}{% if project != projects[-1] %}, {% else %}.{% endif %}
  {% endfor %}
  <p class=hint>Click message to expand
  {% for project in projects %}
    <section id="{{ project.name|lower|e }}" class="{{ project.name|lower|e }}">
      <h2>{{ project.name|e }}</h2>
      <table>
      <colgroup class=col-author>
      <colgroup class=col-message>
      <colgroup class=col-when>
      <tr><th>Author <th>Message <th>When
      {% for c in project.log %}
        <tr>
          <td>{{ c.author_stripped|e }}
          <td class=message>
            <details>
              <summary>{{ c.subject|e }}</summary>
              <pre class=body>{{ c.body|e|urlize }}</pre>
            </details>
          <td><a href="{{ c.viewvc|e }}"><time datetime="{{ c.date|e }}">{{ c.date|e }}</time></a>
      {% endfor %}
      </table>
    </section>
  {% endfor %}
</main>
<script>
  /* Fallback for Presto */
  if (!('open' in document.createElement('details'))) {
    var messages = document.querySelectorAll('.message');
    for (var i=0; i<messages.length; i++)
    {
      messages[i].querySelector('.body').style.display = 'none';
      /* Yes, creating lots of event listeners ... No delegation here! :P */
      messages[i].addEventListener('click', function()
      {
        var body = this.querySelector('.body');
        if (body.style.display == 'none')
            body.style.display = 'block';
        else
            body.style.display = 'none';
      });
    }
  }
</script>
{% endblock %}
