{% extends "base.html" %}

{% block content %}
<main>
  <h1>Opera Software upstreamed commits</h1>
  <p>Upstreamed commits in
    <a href="#{{ projects[0].name|lower|e }}">{{ projects[0].name }}</a>: {{ projects[0].log|length }},
    <a href="#{{ projects[1].name|lower|e }}">{{ projects[1].name }}</a>: {{ projects[1].log|length }},
    <a href="#{{ projects[2].name|lower|e }}">{{ projects[2].name }}</a>: {{ projects[2].log|length }}.
  <p class=hint>Click message to expand
  {% for project in projects %}
    <section id="{{ project.name|lower|e }}" class="{{ project.name|lower|e }}">
      <h2>{{ project.name|e }}</h2>
      <table>
      <colgroup class=col-author>
      <colgroup class=col-message>
      <colgroup class=col-when>
      <tr><th>Author <th>Message <th>When
      {% for c in project.log %}
        <tr>
          <td>{{ c.author_stripped|e }}
          <td class=message>
            <details>
              <summary>{{ c.subject|e }}</summary>
              <pre class=body>{{ c.body|e|urlize }}</pre>
            </details>
          <td><a href="{{ c.viewvc|e }}"><time datetime="{{ c.date|e }}">{{ c.date|e }}</time></a>
      {% endfor %}
      </table>
    </section>
  {% endfor %}
</main>
{% endblock %}
